@import "mixins";
@import "reset";
@import "colors";
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  background-color: var(--slate-100);
  color: var(--gray-900);
  font-family: "Atkinson Hyperlegible", sans-serif;
}
